.product-form {
    display: grid;
    grid-template-columns: 75px 300px 75px;

    row-gap: 5px;
    column-gap: 5px;
    width: max-content;
    /* max-width: 500px; */
    margin: auto;
}

.product-form > .input-text, .product-form > .input-checkbox {
    grid-column: 2;
}

.product-form > .input-checkbox {
    width: min-content;
}

.product-form > label {
    grid-column: 1;
}

.product-form > .button-submit {
    grid-column: 2;
}

.product-form > .button-input {
    grid-column: 3;
}